.circle {
    width: 100px;
    height: 100px;
    background-color: #4CAF50;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
  }
    
  .doctor-image {
    width: 100%;
    border-radius: 50%;
  }
    
  .doctor-info {
    margin-top: 20px;
    text-align: center;
  }