<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dental Crown</title>
  <link rel="stylesheet" href="quienessomos.component.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>


<body>


     
<!-- src/app/app.component.html -->


<div style="text-align: center; margin-top: 50px;">
    <h2>Sobre Dental Crown</h2>
  
    <div style="display: flex; justify-content: space-between; margin: 0 50px;">
  
      <div style="width: 40%;">
        <img src="assets/images/somos.jpg" alt="logo" style="width: 100%;">
      </div>
  
      <div style="width: 55%; text-align: left;">
        <p>
          En nuestros 6 años de trayectoria, hemos visto más de 20,000 de pacientes. No te preocupes, tu boca está en buenas manos.
          En Dental Crown, utilizamos el más alto nivel de tecnologías y profesionales médicos. Nos preocupamos no solo por tu salud dental, sino también por tu salud en general.
        </p>
        <p>
          Una buena sonrisa aumenta tu autoestima, te da confianza y felicidad.
        </p>
        <p>
          Nuestros profesionales médicos reconocen la frustración que significa ir al dentista. Saben que el servicio dental, en general, no funciona como debería y quieren mejorarlo.
        </p>
        <p>
          En DentalCrown, decidimos rehacer toda la experiencia dental, nunca juzgando y recomendando solo los tratamientos que necesitas. Lo que queremos es verte sonreír.
        </p>
      </div>
  
    </div>
  <br>
    <h2>Equipo Médico</h2>
  
    <div style="display: flex; justify-content: space-around; margin: 20px 50px;">
      <div class="doctor-info">
        <div class="circle">
          <img src="assets/images/imagesDoctores/doctora1.jpg" alt="Doctor 1" class="doctor-image">
        </div>
        <h3>Dr. Nombre 1</h3>
        <p>Descripción breve del Dr. Nombre 1.</p>
      </div>
  
      <div class="doctor-info">
        <div class="circle">
          <img src="assets/images/imagesDoctores/doctor2.jpg" alt="Doctor 2" class="doctor-image">
        </div>
        <h3>Dr. Nombre 2</h3>
        <p>Descripción breve del Dr. Nombre 2.</p>
      </div>
  
      <div class="doctor-info">
        <div class="circle">
          <img src="assets/images/imagesDoctores/doctora3.jpg" alt="Doctor 3" class="doctor-image">
        </div>
        <h3>Dr. Nombre 3</h3>
        <p>Descripción breve del Dr. Nombre 3.</p>
      </div>
    </div>
  </div>
  
  
</body>



</html>
