<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dental Crown</title>
  <link rel="stylesheet" href="servicios.component.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
 
</head>


<body>
  
  <app-header></app-header>
  
   <!--SERVICIOS-->
<div class="title-cards">
  <h2>Nuestros servicios</h2>
</div>
<div class="container-card">

<div class="card">
<figure>
  <img [src]="limpieza" >
</figure>
<div class="contenido-card">
  <h3>Limpieza dental</h3>
  <h4>$350</h4>
  <a class="btn" routerLink="/Login" routerLinkActive="active-link">Agendar</a>
</div>
</div>

<div class="card">
<figure>
  <img [src]="brackets">
</figure>
<div class="contenido-card">
  <h3>Ortodoncia (Brackets)</h3>
  <h4>$250</h4>
  <a class="btn" routerLink="/Login" routerLinkActive="active-link">Agendar</a>
</div>
</div>

<div class="card">
<figure>
  <img [src]="servicio3">
</figure>
<div class="contenido-card">
  <h3>Resinas</h3>
  <h4>$600</h4>
  <a class="btn" routerLink="/Login" routerLinkActive="active-link">Agendar</a>
</div>
</div>

</div>





   <!--SERVICIOS-->
  <!--   Tarjetas-->
  <div class="title-cards">
   
  </div>
  <div class="container-card">
  
  <div class="card">
  <figure>
    <img [src]="extraccion" >
  </figure>
  <div class="contenido-card">
    <h3>Extracciones</h3>
    <h4>$1000</h4>
    <a class="btn" routerLink="/Login" routerLinkActive="active-link">Agendar</a>
  </div>
  </div>
  
  <div class="card">
  <figure>
    <img [src]="brackets">
  </figure>
  <div class="contenido-card">
    <h3>Incrustaciones</h3>
    <h4>$3,000 - $7,000.</h4>
    <a class="btn" routerLink="/Login" routerLinkActive="active-link">Agendar</a>
  </div>
  </div>
  
  <div class="card">
  <figure>
    <img [src]="valoracion">
  </figure>
  <div class="contenido-card">
    <h3>Valoración bucal</h3>
    <h4>$50 - $150</h4>
    <a class="btn" routerLink="/Login" routerLinkActive="active-link">Agendar</a>
    
  </div>
  </div>

  
</div>
<br><br>

<div class="container-card">
  
  <div class="card">
  <figure>
    <img [src]="implante" >
  </figure>
  <div class="contenido-card">
    <h3>Implantes dentales</h3>
    <h4>$1000</h4>
    <a class="btn" routerLink="/Login" routerLinkActive="active-link">Agendar</a>
  </div>
  </div>
  
  <div class="card">
  <figure>
    <img [src]="brackets">
  </figure>
  <div class="contenido-card">
    <h3>Ortodoncia</h3>
    <h4>$3,000 - $7,000.</h4>
    <a class="btn" routerLink="/Login" routerLinkActive="active-link">Agendar</a>
  </div>
  </div>
  
  <div class="card">
  <figure>
    <img [src]="valoracion">
  </figure>
  <div class="contenido-card">
    <h3>Valoración bucal</h3>
    <h4>$50 - $150</h4>
    <a class="btn" routerLink="/Login" routerLinkActive="active-link">Agendar</a>
    
  </div>
  </div>

  
</div>






  

</body>

<app-footer></app-footer>

</html>


