<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="login.component.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    <div class="container" id="container">
      <div class="form-container register-container">  
      </div>
      <div class="form-container login-container">
        <form class="form-lg">
          <h1>Iniciar Sesión</h1>
          
          <div class="form-control2">

            <form (submit)="auth()" [formGroup]="myForm" style="display: flex; flex-direction: column;">
              
              <input formControlName="email" type="email" placeholder="Correo Electrónico">
            
              
              <input formControlName="contrasena" type="password" placeholder="Contraseña">
              

              <div class="content">
                <div class="checkbox">
                  <label for="">¿Olvidaste tu contraseña?</label>
                </div>
                <div class="pass-link">
                  <a href="#" routerLink="/Recuperar" routerLinkActive="active-link">Recuperar</a>
                </div>
              </div>

              <button type="submit" [disabled]="myForm.invalid">Iniciar sesión</button>
            </form>
            
  
            <span></span>
          </div>
        
          <span>Iniciar sesión con otra cuenta</span>
          <div class="social-container">
            <a href="#" class="social"
              ><i class="fa-brands fa-facebook-f"></i
            ></a>
            <a href="#" class="social"><i class="fa-brands fa-google"></i></a>
          </div>
        </form>
      </div>

      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            
          </div>

          <div class="overlay-panel overlay-right">
            <h1 class="title">
              DENTAL CROWN <br>
            </h1>
            <p style="font-weight: bold;">
          ¿No tienes una cuenta?
            </p>
            <button class="ghost" id="register" [routerLink]="['/Registro']" routerLinkActive="active-link">
              Registrarse
              <i class="fa-solid fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>

<!--<form (submit)="auth()" [formGroup]="myForm" style="display: flex; flex-direction: column;">
  <label for="">Correo electrónico</label>
  <input formControlName="email" type="email">

  <label for="">Contraseña</label>
  <input formControlName="contrasena" type="password">
  <br>
  <button type="submit" [disabled]="myForm.invalid">Iniciar sesión</button>
</form> 
-->
